/*IMPORT FONT*/ 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
h1 {
    display: flex;
    align-items: center;
    background-color: #ececec;
    padding: 1rem;
    width: 100vw;
    margin: 0;
    text-align: center;
}

/***********************************/
/*FORM*/
#getForm {
    position: absolute;
    top: 20rem;
    z-index: 999;
    display: none;
    margin-top: 2rem;
    background-color: #e1e0e0;
    width: 20rem;
    height: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
    filter: drop-shadow(-2px 5px 12px #616161);
}
.formSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 15rem;
    font-family: 'Quicksand', sans-serif;

}
#addTo {
    border: none;
    background-color: #1f3126;
    color: #ececec;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
#addTo:hover {
    transition: ease-in-out 0.2s;
    background-color: #095626;
}

/***********************************/
/*Start buttons to select functions*/
#showFormBtn, #viewList {
    border: none;
    background-color: white;
    cursor: pointer;
}
#btnList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.startBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/***********************************/
/*List of books*/
#bookList {
    padding-left: 2rem;
    padding-right: 2rem;
    display: none;
    margin-top: 2rem;
    background-color: #ebe9e8;
    width: 70rem;
    height: 25rem;
    border-radius: 12px;
    filter: drop-shadow(-2px 5px 12px #616161);
    overflow: auto;
    flex-direction: column;
}
#listHeading {
    text-align: center;
    margin-top: 2rem;
}
/* Style for the book list table */
#listTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

#listTable th, #listTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: auto;
}

#listTable th {
    background-color: #f2f2f2;
}

#listTable tr:nth-child(even) {
    background-color: #faf8f8;
}

#listTable tr:hover {
    background-color: #e0e0e0;
}
td, th {
    width: 8rem;
}
.removeBtn {
    width: 5rem;
    height: 1.5rem;
    align-self: center;
}